// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// overlay menu
.overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

    .popup {
        margin: auto;
        padding: 2rem;
        max-width: 90%;
        background-color: white;
        border-radius: 1rem;
    }
}

// show page
.author {
    background-color: rgba(0, 128, 0, 0.541);
    display: inline-block;
}

.content {
    border-top: 1px solid gray;
}
